/* src/App.css */
.App {
  text-align: center;
}

.game-board {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: #000;
  border: 1px solid #fff;
}

.snake-dot, .snake-food {
  position: absolute;
  width: 20px;
  height: 20px;
}

.snake-dot {
  background-color: green;
  border-radius: 0;
}

/* Estilos para la cabeza de la serpiente */
.snake-head {
  background-color: darkgreen;
  border-radius: 35%; /* Hace que la cabeza sea redondeada */
}

/* Estilos para la cola de la serpiente */
.snake-tail {
  background-color: green;
  border-radius: 35%; /* Hace que la cola sea redondeada */
}

/* Estilos para la comida */
.snake-food {
  background-color: red;
  border-radius: 50%;
}
