/* src/App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegúrate de que el body ocupe toda la altura */
  overflow-y: hidden;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
  overflow-y: hidden;
}

.App-mobile {
  text-align: center;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
  overflow-y:auto;
}

.game-board {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: #000;
  border: 1px solid #fff;
}

.game-board-mobile {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-color: #000;
  border: 1px solid #fff;
}

.snake-dot, .snake-food, .rocks {
  position: absolute;
  width: 5%;
  height: 5%;
}

.snake-dot {
  background-color: green;
  border-radius: 3px;
}

/* Estilos para la cabeza de la serpiente */
.snake-head {
  background-color: darkgreen;
}

/* Estilos para la cola de la serpiente */
.snake-tail {
  background-color: green;
}

/* Estilos para la comida */
.snake-food {
  background-color: red;
  border-radius: 50%;
}

.restart-button, .share-button{
  color: rgb(182, 185, 6);
  background-color: black;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}

.rocks {
  background-color: gray;
}
